#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set(
$symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="FILE-INFO"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>!!! path to logs !!!/${artifactId}.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<appender name="GELF" class="me.moocar.logbackgelf.GelfAppender">
		<facility>${artifactId}</facility>
		<graylog2ServerHost>cusco.premium-minds.com</graylog2ServerHost>
		<useThreadName>true</useThreadName>
		<messagePattern>%m%rEx</messagePattern>
		<shortMessagePattern>%.-100(%m%rEx)</shortMessagePattern>
	</appender>

	<root level="INFO">
		<appender-ref ref="FILE-INFO" />
		<appender-ref ref="GELF" />
	</root>

</configuration>
