<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appender name="Stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%5p [%thread] %F:%line - %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="${package}" level="INFO"/>
  <root level="WARN">
    <appender-ref ref="Stdout"/>
  </root>
</configuration>